<h1>Display your Pirate here</h1>

Pirate Name: <%= @pirate.name %>
Pirate Height: <%= @pirate.height %>
Pirate Weight: <%= @pirate.weight %>


<h2>Display your first ship here</h2>

Ship 1 Name: <%= @ships[0].name %>
Ship 1 Type: <%= @ships[0].type %>
Ship 1 Booty: <%= @ships[0].booty %>

<h2>Display your second ship here</h2>

Ship 2 Name: <%= @ships[1].name %>
Ship 2 Type: <%= @ships[1].type %>
Ship 2 Booty: <%= @ships[1].booty %>
